.item {
  position: relative;
  padding: 0;
  background-color: #fff;
  box-shadow: none;
  border: none;
  outline: none !important;
  border: 3px solid transparent;

  &.active {
    border: 3px solid red;
  }
}

.simpleModel {
  display: block;
  width: 100%;
  height: auto;
}

.thumb {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
