.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.bg {
  position: relative;
  height: 100%;
  background: no-repeat center/cover;
}

.btnAdd {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  outline: none !important;
  
  &.active {
    color: #fff;
    background-color: red;
    border: none;
  }
}