@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.itemWrapper {
  display: inline-block;
  margin: 10px;
}

.modal {
  @include media-breakpoint-up(md) {
    max-width: none;
    width: 80%;
  }
}

.btnChange {
  padding: 0;
  
  &.active {
    border: 3px solid red;
  }
}

.btnRemove {
  display: block;
}